doctype html
html
    head
        title !{title}
    body
        table(border='3',style="width:400px; height:400px; text-align:center")
            thead
              tr
              for (var i = 0; i < 10; ++i) {
                tr=i;
              }

            tbody
            for object in game.board
                tr
                for cell in object
                    if cell == 0
                        td= '~' 
                    if cell == 1
                        td= 'O'
                    if cell == 2
                        td= '#'
                    if cell == 3
                        td= 'X'